1. Write a Python function that accepts a string and
calculates the number of uppercase letters and lowercase
letters.

In [4]:
def stringCalulaterULletter(stringValue):
    disctCount={"UPPER_CASE":0, "LOWER_CASE":0}
    for letter in stringValue:
        if letter.isupper():
           disctCount["UPPER_CASE"]+=1
        elif letter.islower():
           disctCount["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", disctCount["UPPER_CASE"])
    print ("No. of Lower case Characters : ", disctCount["LOWER_CASE"])

inputString = input("Please enter string to calcute number of uppercase and lowercase letters: ")
string_test(inputString)

Please enter string to calcute number of uppercase and lowercase letters: I am Trupti Redgaonkar team Lead
Original String :  I am Trupti Redgaonkar team Lead
No. of Upper case characters :  4
No. of Lower case Characters :  23

In [34]:
def up_low(s):
    disctCount=dict()
    up = filter(str.isupper, s)
    low = filter(str.islower, s)
    disctCount['UPPER_CASE'] = len(list(up))
    disctCount["LOWER_CASE"] = len(list(low))
    return disctCount

inputString = input("Please enter string to calcute number of uppercase and lowercase letters: ")  
outputDict  =dict( up_low(inputString))

print ("No. of Upper case characters : ", outputDict["UPPER_CASE"])
print ("No. of Lower case Characters : ", outputDict["LOWER_CASE"])

Please enter string to calcute number of uppercase and lowercase letters: hhhyyyYYYYYYiii
No. of Upper case characters :  6
No. of Lower case Characters :  9

In [46]:
upper = lambda  s: filter(str.isupper, s)
lower = lambda  s: filter(str.islower, s)

inputString = input("Please enter string to calcute number of uppercase and lowercase letters: ")  
print ("No. of Upper case characters : ", len(list(upper(inputString))))
print ("No. of Lower case Characters : ", len(list(lower(inputString))))

Please enter string to calcute number of uppercase and lowercase letters: UU
No. of Upper case characters :  2
No. of Lower case Characters :  0

2. Write a Python function to create and print a list where
the values are squares of numbers between 1 and 30 (both
included).

In [7]:
def CalculateNumbers():
      listSquarNumber = []
      for i in range(1 ,31):
         listSquarNumber.append(i**2)
      print(listSquarNumber)
      
CalculateNumbers()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [48]:
squareNumber = lambda num: num**2 

listSquarNumber = []
for i in range(1 ,31):
   listSquarNumber.append(squareNumber(i))
   
print(listSquarNumber)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

3.Create a function that counts the number of elements
within a list that are greater than 30.

In [13]:
def countNumbers(test_list, value):
   count =0
   for i in test_list:
     if i>value: 
       count += 1
   return count

test_list = [1, 7, 55, 6, 39, 8] 
  

value = 30
  
print (f"The list : { test_list}") 
  
# printing the intersection  
print (f"The numbers greater than 30 :  { countNumbers(test_list,value)}")

The list : [1, 7, 55, 6, 39, 8]
The numbers greater than 30 :  2

In [14]:
def getNumbers(test_list, value):
   list_num = []
   for i in test_list:
     if i>value: 
       list_num.append(i)
   return list_num

test_list = [1, 7, 55, 6, 39, 8] 
 
value = 30
 
print (f"The list : { test_list}") 
  
outputNum = getNumbers(test_list,value)
  
print (f"The numbers greater than 30 :  { len(outputNum)}")

The list : [1, 7, 55, 6, 39, 8]
The numbers greater than 30 :  2

In [15]:
test_list = [1, 7, 55, 6, 39, 8] 
value = 30
len([1 for i in test_list if i > value])

2

4. Write a Python function that takes a list and returns a
new list with unique elements of the first list.

In [31]:
def unique (list):
    return set(list)
    
list_Number= [1,3,1,4,5,3,2,4,5]
unique(list_Number)

{1, 2, 3, 4, 5}

In [32]:
uniqueList = lambda list: set(list)

list_Number= [1,3,1,4,5,3,2,4,5]
print("unique list : ", unique(list_Number))

Value of total :  {1, 2, 3, 4, 5}

5. Create a function showEmployee() in such a way that it
should accept employee name, and itâ€™s salary and display
both, and if the salary is missing in function call it should
show it as 9000

In [56]:
def showEmployee(empname, sal = 9000):
    print(f"Employee name : {empname} and Salary {sal}")

showEmployee("radha", 10000)
showEmployee("Prasad")

Employee name : radha and Salary 10000
Employee name : Prasad and Salary 9000

6. Write a Python program to count the even, odd
numbers in a given array of integers using Lambda.

In [57]:
values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Note: We convert the returned filter object to
# a list data structure.
even = list(filter(lambda x: x % 2 == 0, values))
odd = list(filter(lambda x: x % 2 == 1, values))

print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

7. Write a Python program to add two given lists using
map and lambda

In [58]:
values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

addNum = list(map(lambda x: x +2, values))

print(addNum)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

8.Write a Python program to rearrange positive and
negative numbers in a given array using Lambda and filter

In [86]:
 arr = [3, 4, -2, -10, 23, 20, -44, 1, -23]

postnum = list(filter(lambda x: x >= 0 , arr))
negNum = list(filter(lambda x: x <0, arr))

postnum.sort()
negNum.sort()

new_arr = negNum+postnum
# printing the resultant array
print(new_arr)

[-44, -23, -10, -2, 1, 3, 4, 20, 23]

9. Write a Python program to filter a list of integers using
Lambda.

In [94]:
 arr2 = [3, 4, -2, -10, 23, 20, 'hhhh', 1, -23.99]

 integerList = list(filter(lambda x: isinstance(x, int) , arr2))
 
integerList

[3, 4, -2, -10, 23, 20, 1]

10. Write a Python program to find the intersection of two
given arrays using Lambda and filter.

In [95]:
array_nums1 = [1, 2, 3, 5, 7, 8, 9, 10]
array_nums2 = [1, 2, 4, 8, 9]
print("Original arrays:")
print(array_nums1)
print(array_nums2)
result = list(filter(lambda x: x in array_nums1, array_nums2)) 
print ("\nIntersection of the said arrays: ",result)

Original arrays:
[1, 2, 3, 5, 7, 8, 9, 10]
[1, 2, 4, 8, 9]

Intersection of the said arrays:  [1, 2, 8, 9]