<a href="https://colab.research.google.com/github/TruptiRedgaonkar/pythonrepo/blob/main/DataFolkz/SharedNoteBooks/1_Py_Intro_DataFolkz_Rocky.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The **entire course** uses a "**notebook" coding environment**.  In case you are unfamiliar with colab notebooks, we have a [90-second intro video](https://www.youtube.com/watch?v=4C2qMnaIKL4).

This content is prepared by <font color="darkgreen"><b>Rocky Jagtiani</b></font> (https://www.linkedin.com/in/rocky-jagtiani-3b390649/) for <font color="darkblue"><b>learners at DataFolkz</b></font>.

<h4><b>Should I learn Coding ?</b></h4>
Irrespective of the programming language you choose like <font color='green'><b>Javascript or Java or Python</b></font> , its important for every one to know coding rigth from an early age, may be when you start learning Math & Science. Because Math & Science help u learn core concepts and programming helps you to implement them in some way or the other. Lets give a few minutes to watch this <b><font color='green'>fun video</font></b> :  <br>

<a href="https://drive.google.com/open?id=1rdi_KoaXZq8xqlroXNy7KQN7cspGjInv">
<img border="0" alt="What_is_Coding" src="https://drive.google.com/uc?id=1O6LI5_w6sttZ92vhD2ZqqPNuJuJ-ut4A" width="130" height="100"> </a>

Python is a general-purpose interpreted, interactive, object-oriented, and high-level programming language. 

<img src="https://drive.google.com/uc?id=1rNvQ2r-153IBr-MuwPE9sKnK1c4x3ep4" />


> It was created by Guido van Rossum during 1985- 1990. Like Perl, Python source code is also available under the GNU General Public License (GPL). 

> Python is named after a TV Show called ‘Monty Python’s Flying Circus’ and not after Python-the snake.


<img src="https://drive.google.com/uc?id=1Q-AcRLJvg2pBOCat0J6KDeogGkiGF8p2" />

<b><u>Python Identifiers</u></b>

A Python identifier is a name used to identify a variable, function, class, module or other object. An identifier starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters, underscores and digits (0 to 9).

Python does not allow punctuation characters such as <font color='red'>@, $, and % </font>within identifiers. Python is a case sensitive programming language. Thus, <i><b>Suven</b></i> and <i><b>suven</b></i> are two different identifiers in Python.

<b><u>Lines and Indentation</u></b> <br>
Python does not use braces({}) to indicate blocks of code for class and function definitions or flow control. Blocks of code are denoted by line indentation, which is rigidly enforced.

**The number of spaces in the indentation is variable, but all statements within the block must be indented the same amount.** 

<font color='green'>For example − </font>

In [ ]:
name = "Nidhi"
location = "New Jersey"
role = 'Techno Functional'

scope1 = """future skills.
AI would lead to Automation"""

scope2 = '''future skills.
AI would lead to Automation'''

print(name, "works in", location,  "and plays a",  role, "and has" , scope1)

Nidhi works in New Jersey and plays a Techno Functional and has future skills.
AI would lead to Automation

In [ ]:
# to output means to print
# to output any number
print(2)

2

In [ ]:
# output number say 5.25
print(5.25)

5.25

In [ ]:
# to output any string
print("rohan")

## Remember any string -> word or set of words, keep it in single or double quotes.

rohan

In [ ]:
# print Data Science and AI are future skills
print("Data Science and AI are future skills")

print('Data Science and AI are future skills')

Data Science and AI are future skills
Data Science and AI are future skills

## Keywords

Keywords are the reserved words in Python.

We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

In [ ]:
#Get all keywords in python 3

import keyword # import the library Keyword

print(keyword.kwlist) 

print("Total number of keywords ", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keywords  33

## Declare Variables

Variable is a place holder which holds your data.
It gets a **`data type`** according to the data it holds.

In [ ]:
age = 35
print(age)

35

In [ ]:
Global = 45
print(Global)

45

In [ ]:
## Note : this Error
False = 34
print(False)

## Remember , we cannot use keywords as variable names

SyntaxError: ignored

In [ ]:
#Python Variable Example
age = 42
Name = 'Rocky'
print(age)
print(Name)
32

In [ ]:
# first position of the variable can be underscore
_age = 35
_age

In [ ]:
# First position of the variable can not be a number
#9age = 92

age9 = 92
age9

In [ ]:
# Multiple assignement
x , y , z = 27 , 75 , 'maruti'
print(x)
print(y)
print(z)

print(x,",", y , z)

In [ ]:
x , y = 'Jamesbond' , 7
print(x)
print(y)

In [ ]:
# declare marks of 3 subjects
m1, m2, m3 = 40, 54 , 60

# Calculate Avg
avg = (m1+m2+m3)/3

# print "Avg of 3 subjects is " 
print("Avg of 3 subjects is" , avg)

# round the avg mark 
print("rounded Avg marks", round(avg, 2))

##Concept of block of Code

All code lines written inside a block should have the same indentation.

In [ ]:
if 1 != 2:
  print("1 and 2 are same")
  print("hi Nidhi")
else:
  print("1 and 2 are different")
  print("hi ravi")

In [ ]:
# If my avg marks is >= 90 print excellent
# else print good.

avgmarks = 79.88

if avgmarks >= 90 :
  print("Excellent")
  print("U r going great")
else:
  print("Good grades, try smarter")

<u><b>Multi-Line Statements</b></u>

Statements in Python typically end with a new line. Python, however, allows the use of the line continuation character (\) to denote that the line should continue. 

<font color='green'>For example − </font>

In [ ]:
var_one, var_two, var_three = "all", "the", "great"

total = var_one + \
   var_two + \
   var_three

total

In [ ]:
print("Hi Anirudha", total)

In [ ]:
print("Prasanth Gm", total)

<b><u>Quotation in Python</u></b>

Python accepts single ('), double (") and triple (' ' ' or " " ") quotes to denote string literals, as long as the same type of quote starts and ends the string.

The triple quotes are used to span the string across multiple lines. 

<font color='green'>For example, all the following are legal − </font>

In [ ]:
word = 'word'
sentence = "This is a sentence."

paragraph1 = """This is a paragraph. It is \
made up of multiple lines and sentences."""

paragraph2 = 'This is a paragraph2. It is also \
made up of multiple lines and sentences.'

# lets print all the above variables
print(word)
print("---------------------")
print(sentence)
print("---------------------")
print(paragraph1)
print("---------------------")
print(paragraph2)

word
---------------------
This is a sentence.
---------------------
This is a paragraph. It is
 made up of multiple lines and sentences.
---------------------
This is a paragraph2. It is also made up of multiple lines and sentences.

<b><u>Comments in Python</u></b>

A hash sign (#) that is not inside a string literal is the beginning of a comment. All characters after the #, up to the end of the physical line, are part of the comment and the Python interpreter ignores them.

In [ ]:
# First comment
print ("Hello, Rohan!") # second comment

Hello, Rohan!

<b><u>Getting input from the user</u> : input()</b>

The following line of the program displays the prompt asking input from the user.

In [ ]:
# print("whats ur age ?" , end = ' ')

firstName = input("whats ur name ? ")
profession = input("whats ur profile like ? ")

print(firstName, "works as", profession)

whats ur name ? vijaylaxmi
whats ur profile like ? finance
vijaylaxmi works as finance

**Using format string when printing o/p :**

In [ ]:
my_name = 'Hammad'
my_hs = 'Analytics'
print(my_name, " is flying to Canada this Jan 2021 for .. ", my_hs )

Hammad  is flyimng to Canada this Jan 2021 for ..  Analytics

In [ ]:
# using format string -> allows to print the value in a variable 
my_name = 'Rohan'
my_height = '5 ft 8 inches'
my_weight = 70

print(f"Let's talk about {my_name}.")  # Note : You are able to use the variable inside " " without breaking the statement.
print(f"He's {my_height} tall.")
print(f"He's {my_weight} kgs.")

print("or we could also print like this , without using formatting")
print("Let's talk about" ,  my_name, ".")

# {var}  => means placeholders

Let's talk about Rohan.
He's 5 ft 8 inches tall.
He's 70 kgs.
or we could also print like this , without using formatting
Let's talk about Rohan .

<b><u>Python Data-types</u></b>

Python has six standard data types −
1. Numbers
2. String
3. Boolean 
4. List
5. Tuple
6. Set
7. Dictionary

<font color='green'><b>List, tuple, set and dict are iterable, i.e we can loop over them. </b></font>

In [ ]:
#-- Python Numbers : (long)int, float, complex no.  
#-- All integers in Python3 are represented as long integers. Hence, there is no separate number type as long.

var1 = 1     #long-int
var2 = 10.5  #float 
var3 = 10 + 5j #complex no. 

print(var1)
print(var2)
print(var3)

1
10.5
(10+5j)

In [ ]:
# components of a complex number
z = 3 - 4.5j
print(z, z.real, z.imag, sep="\n")

(3.6-4.5j)
3.6
-4.5

In [ ]:
#--we can delete any number or any object by del
var1 = 1     #long-int
var2 = 10.5  #float 
var3 = 10+5j #complex no. 

print(var1)
print(var2)
print(var3)

del var1
del var2, var3

#print(var3) #Note the error !!

1
10.5
(10+5j)

In [ ]:
#### Python Boolean
## The two constants True and False are defined.
## The usual boolean operators are also available: ==, !=, >, >=, <, <= 

#a = int(input("Enter value of a ?"))
#b = int(input("Enter value of b ?"))
#print(a == b - 1, a == b,  a != b,  a < b,  a >= b, sep= '\n')

print("Rutuja",  "greetings", sep='\n')

Rutuja
greetings

In [ ]:
#-- Python Strings --
str1 = 'Python@Data Folkz'

print(str1)   #Prints complete string
print(str1[0]) #Prints first character of the string

#[m:n]  called slice operator. Will start from mth position and go upto (n-1)th position
print(str1[2:7]) #Prints from 2nd to 6th. Remember indexing starts from 0.
print(str1[2:])  #Prints from 2nd to last
print(str1[:8])  #Prints up-to 7th element
print(str1 * 2) #Prints string two times
print(str1 + " Technology") #Prints concatenated string

Python@Data Folkz
P
thon@
thon@Data Folkz
Python@D
Python@Data FolkzPython@Data Folkz

In [ ]:
print(str1[-5 :  ])   # negative indexing, means start from right side

print(str1[-5 :  -1])

Folkz
Folk

In [ ]:
print(str1[-6 :  3])   # end index is < start index value
## in such cases no o/p

In [ ]:
#-- Python Lists--> very similar to arrays in C or Java
#-- list can hold different types of data values
list = [ 'scikit', 123 , 2.23, 'suven', 72+3j ]
tinylist = [123, 'Technology']

print(list) # prints full list
print(list[0]) 
print(list[1:3])  # from index 1 to (3-1), i.e 2 
print(list[2:]) 
print(tinylist * 2)  # prints list two times
print(list + tinylist) # prints concatenated lists

['scikit', 123, 2.23, 'suven', (72+3j)]
scikit
[123, 2.23]
[2.23, 'suven', (72+3j)]
[123, 'Technology', 123, 'Technology']
['scikit', 123, 2.23, 'suven', (72+3j), 123, 'Technology']

In [ ]:
#--applying few functions on the list --
few_things = "Python Java SQL R PHP JavaScript"

stuff = few_things.split(' ')  # splits the single big string into element strings at every space. 
                               # in simple words , splits the sentence into words.
                               # return value of the split() is a list of strings 

print(stuff[1])

print(stuff[-1]) # reads from right to left

print(stuff.pop())  # pop means remove the last element from the list

# joins the list of strings to form a single large string. 
print('-'.join(stuff)) # joins using space as a separator 

print('#'.join(stuff[3 : 5])) # joins using hash as a separator

Java
JavaScript
JavaScript
Python-Java-SQL-R-PHP
R#PHP

In [ ]:
#--Python Tuples --> very similar to list
tuple = ('scikit', 123 , 2.23, 'suven', 72+3j)
tinytuple = (123, 'Technology')

print(tuple) 
print(tuple[0]) 

print(tuple[ 1 : 3 ]) # from index 1 to (3-1), i.e 2 

print(tuple[ 2 : ]) 

print(tinytuple * 2)  # Prints list two times

print(tuple + tinytuple) # Prints concatenated tuples

('scikit', 123, 2.23, 'suven', (72+3j))
scikit
(123, 2.23)
(2.23, 'suven', (72+3j))
(123, 'Technology', 123, 'Technology')
('scikit', 123, 2.23, 'suven', (72+3j), 123, 'Technology')

In [ ]:
# Their is a little difference between list and tuple.

#--Lists    1> uses []  2> can be updated
#--tuples   1> uses ()  2> cannot be updated  

#-- tuple and list can hold different types of data values
tuple = ('scikit', 123 , 2.23, 'suven', 72+3j)
list = ['tensor', 456]

#-- list can be updated
list[0] = "Google Tensor"
print(list[0])

#-- tuple cannot be updated 
#tuple[0] = "ML-DL"    ##-- NOTE THE ERROR !!!!
#print(tuple[0])

Google Tensor

In [ ]:
# A set is a collection which is unordered and unindexed. 
# In Python sets are written with curly brackets.
thisset = {"Rohan", "12.34" , "12.34", "Neural Networks", "Deep Learning", "Rohan"}
print(thisset)

# Change Items
# Once a set is created, you cannot change its items, 
# but you can add new items.

# adding a new element
thisset.add("capstone projects & placements")
print(thisset)

# SEE the ERROR. Remember in SET we cannot change any item.
# thisset[0] = "DataFolkz"

{'12.34', 'Neural Networks', 'Rohan', 'Deep Learning'}
{'Neural Networks', '12.34', 'Rohan', 'Deep Learning', 'capstone projects & placements'}

In [ ]:
#-- Python Dictionary : holds key:value pair --
#-- enclosed by curly braces { } --
#-- elements of dict are not ordered
dict = {}
dict['campus'] = "IIT-B"
dict['branch']= "Economics"

tinydict = {'name':'rohan','code':1234,'dept':'research'}

print(dict['campus'])   # only prints the value at the key 'campus'
print(dict['branch'])  # only prints the value at the key 'branch'

print(tinydict) # elements of dict are never ordered

print(tinydict.keys())  # .keys is a predefined method. It prints all the keys

print(tinydict.values())  # .values is a predefined method. It prints all the values

print(tinydict.items())   # .items is a predefined method. It prints all the key:value pairs

IIT-B
Economics
{'name': 'rohan', 'code': 1234, 'dept': 'research'}
dict_keys(['name', 'code', 'dept'])
dict_values(['rohan', 1234, 'research'])
dict_items([('name', 'rohan'), ('code', 1234), ('dept', 'research')])

In [ ]:
## Create a dict , which holds your basic shopping list information
## CustName, numItems, totalBillAmount
shoppingList = { "CustName" : 'Trupti', "numItems": 10, "totalBillAmount": 2000 }

## Print all keys 
print(shoppingList.keys())

## Print all values 
print(shoppingList.values())

## Print all key:value pairs as tuples
print(shoppingList.items())

## How do i print a value ?
print(shoppingList['CustName'] )

## Remember : Don't use numeric indexes like 0,1 for accessing any dict element.

dict_keys(['CustName', 'numItems', 'totalBillAmount'])
dict_values(['Trupti', 10, 2000])
dict_items([('CustName', 'Trupti'), ('numItems', 10), ('totalBillAmount', 2000)])
Trupti

**Membership & Identity Operators**
<hr>

<h3><b>in</b> is called the Python Membership Operator</h3>

<img src="https://drive.google.com/uc?id=1wHpZdcghmgdojZ_O7St-Udw0MHqBdmgG">

<h3><b>is</b> is called the Python Identity Operator</h3>

<img src="https://drive.google.com/uc?id=1iIZDFuwnJO96eXPR5-iDQVPtz28LK-B_">

In [ ]:
#--Python Membership Operator--
list = [1,2,3,4.5,"abc"]
var = 1
if var in list:
 print("1 is their !!")
else: 
 print("1 is not their !!")
 
var = 'a' 
if var not in list:
 print("yes")
else: 
 print("no")

1 is their !!
yes

In [ ]:
#--Python Identity Operators
#--Identity operators compare the memory locations of two objects.
list_1 = [1,2,3,4.5,"abc"]
list_2 = list_1              # Imp Concept : only the address of list_1 is copied to list_2.
                             # so in simple words, list_1 and list_2 point to the same address space.
list_3 = [1,2,3,4.5,"abc"]

if list_1 is list_2:
 print("list-1 & list-2 are same")
else: 
 print("list-1 & list-2 are different")

if list_1 is not list_3:
 print("yes")
else: 
 print("no")

list-1 & list-2 are same
yes

**Decision Making Statements**

Python programming language assumes any **non-zero** and **non-null** values as **TRUE**, and any zero or null values as FALSE value.

In [ ]:
#--- if-elif-else ---- 
people = 30
cars = 40
trucks = 15

if cars > people:
 print("We should take the cars.")
elif cars < people:
 print("We should not take the cars.")
else:
 print("We can't decide.")

if trucks > cars:
 print("That's too many trucks.")
elif trucks < cars:
 print("Maybe we could take the trucks.")
else:
 print("We still can't decide.")

if people > trucks:
 print("Alright, let's just take the trucks.")
else:
 print("Fine, let's stay home then.")

We should take the cars.
Maybe we could take the trucks.
Alright, let's just take the trucks.

In [ ]:
c1 = 'e' 
s2 = 'Umbrella'

if  c1 in s2  :
  print("the char is their")
else :  
  print("char not their")

it worked

In [ ]:
## The condn expression shd evaluate to True or False
## If the expression return None , then its considered as False
## On the other hand if the fn returns a notnull value then its considered as True.

if 2*0 :
  print("it worked")
else :  
  print("it didn't work")

if "Mani is my friend" :
 print("--it worked--")
else :  
  print("--it didn't work--")

it didn't work
--it worked--

In [ ]:
## We wish to calculate your bonus
## if perfomance is A+ , then give 20% bonus ( of CTC )
## if perfomance is A , then give 10% bonus ( of CTC )
## if perfomance is B , then give 5% bonus ( of CTC )
## if perfomance is none of the above grades , then only LOA 

## ask i/p from the HRM
name = 'Rocky Jagtiani'
professional = 'Master DS Trainer for CAG , AICTE and Upgrad'
salary = 3600000

print("cal bonus for ", name) 
grade = input("HRM please give grade : ")

if grade == 'A+' :
  bonus = salary * 0.2
  print("Congrats , good work , ur bonus for the year is ", bonus)
elif grade == 'A' :
  bonus = salary * 0.1
  print("Congrats , good work , ur bonus for the year is ", bonus)
elif grade == 'B' :
  bonus = salary * 0.05
  print("Congrats , good work , ur bonus for the year is ", bonus)
else : 
  print("please connect to HR")

cal bonus for  Rocky Jagtiani
HRM please give grade : C
please connect to HR

**Loops in Python**

In general, statements are executed sequentially − The first statement in a function is executed first, followed by the second, and so on. There may be a situation when you need to execute a block of code several number of times.

Their are 3 types of loops :
1. while loop
2. for loop
3. nested loop

**`for loop is most used.`**

In [ ]:
## After going through the Seperate Loops NB

## Solve this ?

#--example of using a List and Looping
ten_things = "Python Java SQL R PHP JavaScript"

print("Wait there are not 10 things in that list. Let's fix that.")

stuff = ten_things.split(' ')
#print(stuff)
more_stuff = ["ML", "DL", "PL-SQL", "Excel", "Tableau", "Statistics"]

# len is predefined function which finds no. of elements in the collection. 
# len works over all collections like list, tuple, set, dictionary 

while len(stuff) != 10:
 next_one = more_stuff.pop()
 print("Adding: ", next_one)
 stuff.append(next_one)
 print(f"There are {len(stuff)} items now.")

print("There we go: ", stuff)

Wait there are not 10 things in that list. Let's fix that.
Adding:  Statistics
There are 7 items now.
Adding:  Tableau
There are 8 items now.
Adding:  Excel
There are 9 items now.
Adding:  PL-SQL
There are 10 items now.
There we go:  ['Python', 'Java', 'SQL', 'R', 'PHP', 'JavaScript', 'Statistics', 'Tableau', 'Excel', 'PL-SQL']

<font color='red'><h3><b>How to install any package or module ?</b></h3></font>

Well, lets first understand , in which envirnoment are you learning and practicing Python and other DATA SCIENCE Subjects.

**`Envirnoment 1`**: on your local PC. Then you would have to install each and every package you use. Like for example if you plan to run this `Jupyter` Notebook then would need a module called  `Jupyter`. You should install it from your python cmd prompt like this :

<img src="https://drive.google.com/uc?id=1lb-p1KL1S4VuiRLoQFso3ILGsmqPuTPL">

`Note` : You would see a long list of dependent packages being installed. It would take a minute or more and finally you would see "packages successfully installed" 

**`Envirnoment 2`**: is this very Colab Notebook itself. This is actually the same Jupyter Notebook but on the Google Cloud envirnoment. Here on the Google Colab, most basic packages are installed. But packages for specific applications in Advanced ML or Neural Networks have to be installed. 

**Lets say you want to install scipy**, _here is the code to_ install it

<font color='green'><b>
!pip install scipy 
</b></font>

<small><i>copy above one line code and run it in a code cell. </i></small>

In [ ]:
!pip install scipy

Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (1.4.1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from scipy) (1.18.5)

<font color='red'><h3><b>How to read a data file into my Colab Notebook ?</b></h3></font>

Well, first you need to upload the data file into your Colab. So, we upload it like this :

In [ ]:
# Steps to upload any data file into your Colab notebook. (its very simple !!)
# Step 1: Download the dataset to your local PC. For time being you can use this dummy students dataset.
#         https://drive.google.com/open?id=1viCNZx1e3Egi7zsh72zwGjrA_W8dcpul 
# Step 2: Run the below code , select the data file. It would get uploaded to your Colab Notebook.

from google.colab import files
files.upload()

Saving student_records.csv to student_records (2).csv

{'student_records.csv': b'Name,OverallGrade,Obedient,ResearchScore,ProjectScore,Recommend\nHenry,A,Y,90,85,Yes\nJohn,C,N,85,51,Yes\nDavid,F,N,10,17,No\nHolmes,B,Y,75,71,No\nMarvin,E,N,20,30,No\nSimon,A,Y,92,79,Yes\nRobert,B,Y,60,59,No\nTrent,C,Y,75,33,No\n'}

In [ ]:
# now to read this data file , we would use below code :

import pandas as pd

df = pd.read_csv("student_records.csv" , low_memory='false')
df

# ok, now we did here :
# first, i imported a build-in package called pandas. I gave it a short name as pd
# second, read_csv() allows to read a csv file 
# return value of read_csv() function is dataframe. Its a 2-dimensional datastructure and looks like excel table.
# last, i printed the df , i mean the dataframe.

     Name OverallGrade Obedient  ResearchScore  ProjectScore Recommend
0   Henry            A        Y             90            85       Yes
1    John            C        N             85            51       Yes
2   David            F        N             10            17        No
3  Holmes            B        Y             75            71        No
4  Marvin            E        N             20            30        No
5   Simon            A        Y             92            79       Yes
6  Robert            B        Y             60            59        No
7   Trent            C        Y             75            33        No

<hr />

**Connect with the Author** of this Notebook <font color="darkgreen"><b>Rocky Jagtiani</b></font> (https://www.linkedin.com/in/rocky-jagtiani-3b390649/)

<hr />

<h3><font color='green'>I am sure you enjoyed learning the very basics of python programming.</font></h3> 

<b>I know you found it easy, because this is easiest part of the Python Language !!</b> 

In the <b><u>Next</u> chapter</b>, we would recall little more concepts of Python , so that you are ready to apply with me the Python skills in <font color='green'>Data Analytics or ML or AI Problem Solving</font> on <b><u>real</u> datasets</b>.  
<hr>

Thank you for going through the Notebook. I am sure it was a fruitful learning exprience.