<a href="https://colab.research.google.com/github/TruptiRedgaonkar/pythonrepo/blob/main/DataFolkz/SharedNoteBooks/Builtin_functions_DataFolkz_Rocky.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Random Number Functions
--

In [ ]:
#--Random Number Functions--
#--seed() # helps the pseudo-random no. generator with a start value
import random

random.seed() # as no seed provided, hence it takes systime
print ("random number with default seed", random.random())

random.seed(10)
print ("random number with int seed", random.random())

random number with default seed 0.37210689644090345
random number with int seed 0.5714025946899135

**Randomness** has many uses in **science, art, statistics, cryptography, gaming, gambling**, and other fields. For example, random assignment in randomized controlled trials helps scientists to test hypotheses, and random numbers or pseudorandom numbers help video games such as video poker.

These uses have different levels of requirements, which leads to the use of different methods.  Some are strict and some others are loose.

For example, applications in cryptography usually have strict requirements, whereas applications like generating a "quote of the day" can use a looser standard of pseudorandomness.

In [ ]:
#--shuffle()
import random

numlist = [20, 16, 10, 5];
random.shuffle(numlist)
print ("Reshuffled list : ",  numlist)

random.shuffle(numlist)
print ("Reshuffled again : ",  numlist)

Reshuffled list :  [10, 20, 16, 5]
Reshuffled again :  [10, 16, 5, 20]

In [ ]:
#--randrange() method returns a randomly selected element from range(start, stop, step).
import random

# randomly select an odd number between 1-100 
print ("randrange(1,100, 2) : ", random.randrange(1, 100, 2))

# randomly select a number between 0-99 
print ("randrange(100) : ", random.randrange(100))

randrange(1,100, 2) :  35
randrange(100) :  83

Built-in String Methods
--

In [ ]:
#-- len()
astring = "Hello friends!"

#count(total chars in the String)
print(len(astring))

14

In [ ]:
# index()

# searches first index of a char
print("searching for o :", astring.index("o"))
bstring = "All is well"
print("searching for l :", bstring.index("l", 3))
print("searching last occurrence :", bstring.rindex("l"))

searching for o : 4
searching for l : 9
searching last occurrence : 10

In [ ]:
# if string not found we get ValueError
# print("searching for r :", bstring.index("r", 3))

In [ ]:
#--soln to above ValueError :
try :
 print("searching for r :", bstring.index('r', 3))
except :
 print("no such char found")

no such char found

In [ ]:
#counts the number of times 'l' char comes
astring = "Hello world!"
print("count of single char ", astring.count("l"))


str = "this is string example....wow!!!"
sub = 'exam'

# count the times 'exam' substring comes in str
print ("str.count('exam', 10, 40) : ", str.count(sub,10,40))

count of single char  3
str.count('exam', 10, 40) :  1

In [ ]:
#---upper, lower, startswith, endswith
#covert to upper and lower cases
astring = "Hello world!"
print(astring.upper())
print("Hello World".lower())

#---startswith() and endswith() returns bool
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))

HELLO WORLD!
hello world
True
False

In [ ]:
#---split the string into array
astring = "Hello world!"
afewwords = astring.split(" ")
print(afewwords)

['Hello', 'world!']

In [ ]:
#---- slice operator
astring = "Hello world!"
#This prints a slice of the string. many forms.
print("prints from index 3 to 7 :", astring[3:8])
print("prints from index 3 to end :", astring[3:])
print("prints from index start to 7th :", astring[:8])

prints from index 3 to 7 : lo wo
prints from index 3 to end : lo world!
prints from index start to 7th : Hello wo

In [ ]:
#extended syntax of slice is [start,stop,step]
bstring = "0123456789"
print("prints 3rd to 7th, alternate chars:", bstring[ 3 : 8 : 2])

prints 3rd to 7th, alternate chars: 357

In [ ]:
#read rgt to left and print forward
print("negative index -3 :", bstring[-3:])

#reverse a string. -1 means step backwards
print("Reversing the string :", bstring[ : : -1])

#reverse string and alternating chars
print("reverse string, alternate chars:", bstring[ : : -2])

negative index -3 : 789
Reversing the string : 9876543210
reverse string, alternate chars: 97531

Coding exercise ( 5 mins )
--

In [ ]:
s = "strings are awesome"

## print len of the string ?
print("Length of s = ", len(s))

# find first occurrence of "a" ?
print("The first occurrence of the letter a = ", s.index("a"))

# find Number of a's ?
print("a occurs ", s.count("a"), "times")

# use slicing and find first 5 chars
print("The first five characters are ", s[ : 5]) 

# use slicing and find 5th to 9th char
print("The next five characters are ", s[5 : 10])

# use slicing and find alternate chars from 1st to last.
print("The characters with odd index are", s[1 :  : 2]) 

# use slicing and find 5th-from-last to the last char. Hint : use -ve index 
print("The last five characters are ",s[ -5 : ])

Length of s =  19
The first occurrence of the letter a =  8
a occurs  2 times
The first five characters are  strin
The next five characters are  gs ar
The characters with odd index are tig r wsm
The last five characters are  esome

In [ ]:
#-------More String functions

#--accept input and check it is num, alpha or special
#--isalpha(), isdigit(), isalnum()

str = input("Enter any string ? ")

if str.isalpha() :
 print("i/p is alpha only")
elif str.isdigit() :
 print("i/p is digit")
elif str.isalnum() :
 print("i/p is alpha-numeric")
else :
 print("i/p is special char")

## Note :  space is taken as special char

Enter any string ? esha malhatra
i/p is special char

In [ ]:
#--find() method 
#-- determines if the string str occurs in string or not. if yes returns index, else -1

str1 = "this is string example....wow!!!"
str2 = "exam";

print(str1.find(str2))

print(str1.find(str2, 10))

print(str1.find(str2, 40))  #-1 if not found

#--find from rgt to left 
strA = "example1 and example2"
strB = "exam";
print(strA.rfind(strB))

15
15
-1
13

Built-in List Functions
--

In [ ]:
#--list() converts a tuple or string or object to List
aTuple = (123, 'C++', 'Java', 'Python')

list1 = list(aTuple)
print("List elements : ", list1)

str = "Hello World"

list2 = list(str)
print("List elements : ", list2)

List elements :  [123, 'C++', 'Java', 'Python']
List elements :  ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [ ]:
#-- append() appends object to the list 
list3 = ['sql', 'Java', 'Python']
list3.append(['hackerrank', 'Challenge'])

print("after appending : ", list3)

after appending :  ['sql', 'Java', 'Python', ['hackerrank', 'Challenge']]

In [ ]:
#-- extend() adds each element of the iterable to the list one at a time. 
list3 = ['sql', 'Java', 'Python']

list3.extend(['hackerrank', 'Challenge'])

print("after extending : ", list3)

after extending :  ['sql', 'Java', 'Python', 'hackerrank', 'Challenge']

In [ ]:
#-- count() counts object in the list 
list4 = ['Java Script', 'Java', 'Python']

print("Count of Java : ", list4.count('Java'))

Count of Java :  1

In [ ]:
#--insert() method inserts object obj into list at offset index.

list5 = ['physics', 'chemistry', 'maths']

list5.insert(1, 'Biology')

print ('Final list : ', list5)

Final list :  ['physics', 'Biology', 'chemistry', 'maths']

In [ ]:
#--pop() Removes and returns last object from list
list4 = ['physics', 'Biology', 'maths']
list4.pop(1)
print ('pop once : ', list4)

list4.pop()
print ('pop again : ', list4)

pop once :  ['physics', 'maths']
pop again :  ['physics']

In [ ]:
## - does pop() work with -ve index ?

list4 = ['physics', 'Biology', 'maths']
list4.pop(-2)

## ans : yes it does.

'Biology'

In [ ]:
#--reverse() the list
list5 = ['physics', 'chemistry', 'maths']

list5.reverse()

print("after reversing : ", list5)

after reversing :  ['maths', 'chemistry', 'physics']

In [ ]:
#--sort() the list
list6 = ['physics', 'chemistry', 'maths']

list6.sort()

print("after sorting : ", list6)

## sorting uses ASCII values
## ascii(A) -> 65 ,  ascii(a) -> 97
## A -> Z has lower ascii value compared a -> z

after sorting :  ['chemistry', 'maths', 'physics']

In [ ]:
#--sort() the list in reverse
list6 = ['physics', 'chemistry', 'maths']

list6.sort(reverse = True)

print("after sorting : ", list6)

after sorting :  ['physics', 'maths', 'chemistry']

Coding Excerise ( 5 mins )
--

In [ ]:
## Loop over your list and print all elements that are of size 3 ?

# This is your list
mylist = [ [1,2,3], [4,5,6,7], [8,9,10] ]

# Loop over your list and print all elements that are of size 3
for x in mylist:
      if len(x) == 3 :
        print(x)

[1, 2, 3]
[8, 9, 10]

In [ ]:
## enumerate() : returns the index and value both 

## Loop over "myList" and print tuples of all indices and values
# This is your list
#myList = [3,4,5,6]
myList = [ [1,2,3], [4,5,6,7], [8,9,10] ]

# Loop over "myList" and print tuples of all indices and values 
for i, val in enumerate(myList):
     print(i, val)

0 [1, 2, 3]
1 [4, 5, 6, 7]
2 [8, 9, 10]

In [ ]:
## Get the common unique elements ?

## Hint use intersection() of the set  

list1 = [1,2,3,4,5,6,6]
list2 = [3,3,4,7,8]

print(set(list1))
print(set(list2))

print("-----------------")

# Use intersection()
print(list(set(list1).intersection(set(list2))))

# Remember : intersection method is defn over set object, not list

{1, 2, 3, 4, 5, 6}
{8, 3, 4, 7}
-----------------
[3, 4]

In [ ]:
## Print the unique elements from List ?

# Your list with duplicate values
duplicates = [1, 2, 3, 1, 2, 5, 6, 7, 8]

#--Print the unique elements from "duplicates" list
print(list(set(duplicates)))

[1, 2, 3, 5, 6, 7, 8]

In [ ]:
# Your list with duplicate values
duplicates = ["abc", "abc", "def"]

#--Print the unique elements from "duplicates" list
print(list(set(duplicates)))

['def', 'abc']

Built-in tuple Functions
--

In [ ]:
#--Built-in tuple Functions--
tuple1, tuple2 = (123, 456, 678), (456, 123)

#finding len of tuple
print(len(tuple1))

#returns max value
print(max(tuple1))

#returns min value
print(min(tuple1))

3
678
123

In [ ]:
#converts list to tuple
listt = [123, 'suven', 789]

tuple4 = tuple(listt)

print(tuple4)

(123, 'suven', 789)

zip function
--

In [ ]:
## The purpose of zip() is to map the similar index of multiple containers 
## so that they can be used as a single entity.

# initializing lists 
name = [ "Akshay", "Neha", "Vipin", "Snehar"] 
emp_no = [ 4, 1, 3, 2 ] 
bonus_in_percent = [ 20, 12, 30, 17 ] 
  
# using zip() to map values 
mapped = zip(name, emp_no, bonus_in_percent) # if you don't convert to set or list, then it prints the object id
  
# converting mappeed Object to a set or list,  for printing purposes 
smapped = list(mapped) # if you don't convert to set , then it prints the object id
  
# printing resultant values  
print("The zipped result is : ", end=" ") 
print(smapped)
smapped.sort()  ## Can we sort ?  Ans : Yes
print(smapped)

The zipped result is :  [('Akshay', 4, 20), ('Neha', 1, 12), ('Vipin', 3, 30), ('Snehar', 2, 17)]
[('Akshay', 4, 20), ('Neha', 1, 12), ('Snehar', 2, 17), ('Vipin', 3, 30)]

In [ ]:
## - simple application of zip() 

#initializing list of players. 
players = [ "Sachin", "Sehwag", "Gambhir", "Dravid", "Raina" ] 
  
#initializing their scores 
scores = [100, 15, 17, 28, 43 ] 
  
#printing players and scores. 
for pl, sc in zip(players, scores): 
    print ("Player :  %s     Score : %d" %(pl, sc)) 

## %s -> String , %d --> int number   , %f --> float number

Player :  Sachin     Score : 100
Player :  Sehwag     Score : 15
Player :  Gambhir     Score : 17
Player :  Dravid     Score : 28

zipping and unzipping
--

In [ ]:
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ] 
roll_no = [ 4, 1, 3, 2 ] 
marks = [ 40, 50, 60, 70 ] 
  
# using zip() to map values 
mapped = zip(name, roll_no, marks) 
  
# converting values to print as list 
lmapped = list(mapped) 
  
# printing resultant values  
print("The zipped result is : ",end="") 
print(lmapped) 
  
print("\n") 

#unzipping values 
namz, roll_noz, marksz = zip(*lmapped) 
  
print("The unzipped result:") 
  
#printing initial lists 
print("The name list is : ",end="") 
print(namz) 
  
print("The roll_no list is : ",end="") 
print(roll_noz) 
  
print("The marks list is : ",end="") 
print(marksz)

The zipped result is : [('Manjeet', 4, 40), ('Nikhil', 1, 50), ('Shambhavi', 3, 60), ('Astha', 2, 70)]


The unzipped result:
The name list is : ('Manjeet', 'Nikhil', 'Shambhavi', 'Astha')
The roll_no list is : (4, 1, 3, 2)
The marks list is : (40, 50, 60, 70)

Built-in dict functions
--

In [ ]:
# clear() 
## -- Removes all elements of dictionary dictt
dictt = {'Name':'RIL', 'Dividend':8,  'Outlook':'positive-hold'}
dictt.clear()
print(dictt)

{}

In [ ]:
#copy() : Returns a shallow copy of dictionary dictt
dictt = {'Name':'RIL','Dividend':8, 'Outlook':'positive-hold'}

dictt = {'Name':'ITC','Dividend':6, 'Outlook':'positive'}

print(dictt)

#dictt2 = dictt.copy() # only gets reference

#print(dictt2)

{'Name': 'ITC', 'Dividend': 6, 'Outlook': 'positive'}

Difference between shallow and deep copy
--

A `shallow copy` means constructing a new collection object and then populating it with references to the child objects found in the original. In essence, a shallow copy is only one level deep. The copying process does not recurse and therefore wonâ€™t create copies of the child objects themselves.

A `deep copy` makes the copying process recursive. It means first constructing a new collection object and then recursively populating it with copies of the child objects found in the original. Copying an object this way walks the whole object tree to create a fully independent clone of the original object and all of its children.

In [ ]:
#--shallow copy example --
xs = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
ys = list(xs)  # Makes a shallow copy. ys refers to same address space
print(ys)
print("--------------------")
xs.append(['new sublist'])
print("xs is : ", xs)
print("ys is : ", ys)
print("--------------------")
xs[1][0] = 'X'
print("updated xs is : ", xs)
print("updated ys is : ", ys)
print("--------------------")

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
--------------------
xs is :  [[1, 2, 3], [4, 5, 6], [7, 8, 9], ['new sublist']]
ys is :  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
--------------------
updated xs is :  [[1, 2, 3], ['X', 5, 6], [7, 8, 9], ['new sublist']]
updated ys is :  [[1, 2, 3], ['X', 5, 6], [7, 8, 9]]
--------------------

In [ ]:
#--deep copy example
import copy
xs = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
zs = copy.deepcopy(xs)#all child objects are copied
print("zs is : ", zs)
print("--------------------")
xs[1][0] = 'X'
print("updated xs is : ", xs)
print("zs remains same : ", zs)

zs is :  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
--------------------
updated xs is :  [[1, 2, 3], ['X', 5, 6], [7, 8, 9]]
zs remains same :  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
#--get list of all keys, values and key:value pairs ?
dictt = {'Name':'RIL','Dividend':8, 'Outlook':'positive-hold'}
print(dictt.keys());
print("---------------------");

print("values are ", dictt.values());
print("---------------------");

print("key:value pairs are :", dictt.items()); #shows list of tuples
#each tuple is a key:value pair
print("---------------------");

#get value of a key
print("get value of a key 'Name':",dictt.get('Name'))

dict_keys(['Name', 'Dividend', 'Outlook'])
---------------------
values are  dict_values(['RIL', 8, 'positive-hold'])
---------------------
key:value pairs are : dict_items([('Name', 'RIL'), ('Dividend', 8), ('Outlook', 'positive-hold')])
---------------------
get value of a key 'Name': RIL

In [ ]:
#--to check for a key ?  -- use in operator.
# -- 'in' is a membership operator 
dictt = {'Name':'RIL','Dividend':8, 'Outlook':'positive-hold'}
print('Name' in dictt);
print('Names' in dictt);

True
False

In [ ]:
#--update updates the dictionary 
dictt = {'Name':'RIL','Dividend':8, 'Outlook':'positive-hold'}
dictt2 = {'quantity':200}

dictt.update(dictt2)
print ("updated dict : ", dictt)

updated dict :  {'Name': 'RIL', 'Dividend': 8, 'Outlook': 'positive-hold', 'quantity': 200}

In [ ]:
#--pop removes a key and returns its value
dict3 = {'Name':'Neha', 'course':'Web Tech'}
print("value of the popped key :",dict3.pop('Name'))
print("dict after pop :", dict3)

#--can use default value. Prevents Exception when key not found
print(dict3.pop('location', 'null'))

value of the popped key : Neha
dict after pop : {'course': 'Web Tech'}
null

In [ ]:
#--to pop key:value pair , do :
dict3 = {'Name':'Neha', 'course':'Web Tech'}
print("first time ",dict3.popitem())
print("second time ",dict3.popitem())
print(dict3)

first time  ('course', 'Web Tech')
second time  ('Name', 'Neha')
{}

Very important tip to all non-programmers or non-cs learner friends from Rocky Sir
--

> Programming is an **`Art`**. Every **`Art`** takes time to pick and a lot more time to master.

> Its like cycling and swimming, you fall , drone !! **`else`** you don't pick up the art.

> In programming you get errors , but you only get errors when you program or code.

> So make sure of practicing each and every NB of **`mine`** , with **`heart`** , **`mind`** and patience.

> Always solve weekly assignments given by DataFolkz team.

**`Regards`**
<br />
Rocky Jagtiani
<br />
**`You can be connected with me all the time here`**  <br />
<a href="https://linkedin.com/in/rocky-jagtiani-3b390649/">linkedin.com/in/rocky-jagtiani-3b390649/</a>