<a href="https://colab.research.google.com/github/TruptiRedgaonkar/PythonRepo/blob/main/Python_Assignment_6_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Print First 10 natural numbers using while loop

In [ ]:
i=1
while i<= 10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

2. Display -10 to -1 using for loop

In [ ]:
numbervale=10
for i in range(10):
    print (numbervale)
    numbervale = numbervale-1

10
9
8
7
6
5
4
3
2
1

3 Write a python program to print the factorial of a given number

In [ ]:
num = int(input("Please enter the number to find factorial : "))

factorial = 1
if num < 0:
   print("Sorry, does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Please enter the number to find factorial : 5
The factorial of 5 is 120

4 Write a python program to print all prime numbers
between 0 to 100 , and print how many prime numbers
are there.

In [ ]:
rangeValue=100

for num in range(rangeValue+1):
  isPrime = True
  if num>1:
      for j in range(2,num):
          if num % j == 0:
              isPrime=False
              break
      if isPrime==True:
          print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

5.Print the following pattern :

```
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
```

In [ ]:
num= int(input("Please enter the value for n "))
for i in range(1,num+1):
 for j in (range(1,i+1)):
    print(j , end=" ")
 print("")

Please enter the value for n 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

6 Accept n number from user and calculate the sum of all
number between 1 and n including n

In [ ]:
num= int(input("Please enter the value for n "))
sum=0
for i in range(1,num+1):
  sum=sum+i
sum

Please enter the value for n 5

15

7. Given a number count the total number of digits in a number

In [ ]:
num= input("Please enter the value for n ")
print(f"the number of digits in {num} is {len(num)}")

Please enter the value for n 2555
the number of digits in 2555 is 4

8. Write a Python program to create the multiplication table(from 1 to 10) of a number.

In [ ]:
for i in range(1,11):
 for j in (range(1,11)):
    print('{:4}'.format(i*j) , end=" ")
 print("")

   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100

9 Reverse the following list using for loop
list1 = [10, 20, 30, 40, 50]

In [ ]:
list1 = [10, 20, 30, 40, 50]
reverseList=[]
for i in range(len(list1)):
    popedStr= list1.pop()
    reverseList.append(popedStr)
reverseList

[50, 40, 30, 20, 10]

10. Write a Python program to construct the following
pattern, using a nested for loop.


---


```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [ ]:
for i in range(6):
  for j in range(i):
    print("*" , end=" ")
  print("") 
count =4
for i in range(5):
  for j in range(count):
    print("*" , end=" ")
  print("") 
  count=count-1

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

11.Write a Python program that accepts a string and
calculate the number of digits and letters.

In [ ]:
inputstr = input('please enter the string ')

countdigit=0
countletters=0

for char in inputstr:
    if char.isalpha():
      countletters=countletters+1
    else:
       countdigit =countdigit+1
print(f"{inputstr} contains {countdigit} digits and {countletters} letters.")

please enter the string s67890
s67890 contains 5 digits and 1 letters.

12. From a list containing ints, strings and floats, make
three lists to store them separately.

In [ ]:
listItem = ['def',11,10.6,16 ,'abc',15.9]

intList=[]
floatList=[]
stringList=[]
speciallist=[]

for i in listItem :
  if isinstance(i, int):
    intList.append(i)
  elif isinstance(i, float):
    floatList.append(i)
  elif isinstance(i, str):
    stringList.append(i)
  else:
    speciallist.append(i)

print(f"Int list {intList}")
print(f"Float list {floatList}")
print(f"String list {stringList}")

Int list [11, 16]
Float list [10.6, 15.9]
String list ['def', 'abc']