<a href="https://colab.research.google.com/github/TruptiRedgaonkar/PythonRepo/blob/main/Python_Assignment_3Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. City = [‘Gurgaon’, ’Mumbai’, ’Bangalore’]
```
i) Print the second item from the list.
ii) Change the value from "Gurgaon" to "Kerala"
iii) Remove the last element of the list
```

In [ ]:
City = ['Gurgaon', 'Mumbai', 'Bangalore']
#i) Print the second item from the list.
print(f"Second item in list is {City[1]}") 

#ii) Change the value from "Gurgaon" to "Kerala"

City[0] = 'Kerala'
print(f"first  item in list is {City[0]}") 

#iii) Remove the last element of the list.
City.pop()
print(f"list after removing last element {City}")

Second item in list is Mumbai
first  item in list is Kerala
list after removing last element ['Kerala', 'Mumbai']

2. Use negative indexing to print the last item in the list. Make
a list by yourself.

In [ ]:
sampleList = ['abc', 'def', '111']

print(f"first  item in list is {sampleList[-1]}")

first  item in list is 111

3. Use a range of indexes to print the third, fourth, and fifth
item in the list. Make a list by yourself

In [ ]:
fruitslist=['apple','lichi','guava','cherry','mango','watermelon','banana']

print(f"third, fourth, and fifth item in the list respectively are {fruitslist[2:5]}")

third, fourth, and fifth item in the list respectively are ['guava', 'cherry', 'mango']

4. Remove the last element from the city list

In [ ]:
City.pop()

print(f"City list is {City}")

City list is ['Kerala']

4. fruits=[‘apple’,’lichi’,’guava’,’cherry’,’mango’,’watermelon’,’banana’]

```
 i) Add "orange" at the end of the above list.
ii) Add "lemon" as the second item in the fruits list
```

In [ ]:
fruits=['apple','lichi','guava','cherry','mango','watermelon','banana']
fruits.append("orange")
fruits.insert(1,"lemon")
fruits

['apple',
 'lemon',
 'lichi',
 'guava',
 'cherry',
 'mango',
 'watermelon',
 'banana',
 'orange']

6. Remove ‘cherry’ from the fruit list given above.

In [ ]:
fruits.pop(4)
fruits

['apple', 'lemon', 'lichi', 'guava', 'mango', 'watermelon', 'banana', 'orange']

7. Write the python program to let the user input a list of
numbers and print the list in descending order.

In [ ]:
numberList = []

while(True):
    num =input ("please enter number (e to exit)")
    if num == 'e':
      break
    else:
      numberList.append(num)

print(f"unsorted number list {numberList }")
numberList.sort()

print(f"sorted number list {numberList }")

please enter number (e to exit)6
please enter number (e to exit)3
please enter number (e to exit)8
please enter number (e to exit)2
please enter number (e to exit)5
please enter number (e to exit)e
unsorted number list ['6', '3', '8', '2', '5']
sorted number list ['2', '3', '5', '6', '8']

8 Write the python program to let the user input two lists and
combine both the lists.

In [ ]:
list1 = []
list2 = []

while(True):
    inputStr =input ("please values for list1 (e to exit)")
    if inputStr == 'e':
      break
    else:
      list1.append(inputStr)
print("\n---------------")
while(True):
    inputStr =input ("please values for list2 (e to exit)")
    if inputStr == 'e':
      break
    else:
      list2.append(inputStr)
print("\n---------------")
print(f"list1 {list1 }")
print("\n---------------")
print(f"list2 {list2 }")

list1.extend(list2)
print("\n---------------")
print(f"list1 after combining with list2 {list1 }")

please values for list1 (e to exit)apple
please values for list1 (e to exit)banana
please values for list1 (e to exit)orannge
please values for list1 (e to exit)e

---------------
please values for list2 (e to exit)guava
please values for list2 (e to exit)cherry
please values for list2 (e to exit)e

---------------
list1 ['apple', 'banana', 'orannge']

---------------
list2 ['guava', 'cherry']

---------------
list1 after combining with list2 ['apple', 'banana', 'orannge', 'guava', 'cherry']

9 List = [10, 45, 78, 11, 9, 23]. Shuffle this list

In [ ]:
import random
List = [10, 45, 78, 11, 9, 23]
print(f"original List {List }")
random.shuffle(List)
print(f"shuffled List {List }")

original List [10, 45, 78, 11, 9, 23]
shuffled List [9, 11, 10, 45, 23, 78]

 x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
 ```
 i) What is the expression that returns the 'z' in 'baz'?
 ii) What expression returns the list ['baz', 2.718]?
```

11 Extract element 20 from the above list

In [ ]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']

sublist = x[1][2]

print(f"'z' in 'baz' is rerurned by sublist[1][2]  {sublist[1][2]}")
print(f"list ['baz', 2.718] is retuned by sublist[1:] {sublist[1:]}")
print(f"20 is retuned by x[1][1] {x[1][1]}")

'z' in 'baz' is rerurned by sublist[1][2]  z
list ['baz', 2.718] is retuned by sublist[1:] ['baz', 2.718]
20 is retuned by x[1][1] 20

12. You have a list a = [1, 2, 7, 8]
Write a Python statement using slice assignment that will fill in
the missing values so that a equals [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
a = [1, 2, 7, 8]
list2 = a[2:]
a[2:6] = [3,4,5,6]
a.extend(list2)
print(a)

a = [1, 2, 7, 8]
a[4:] = [3,4,5,6]
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]